/* Zero */
* {
  margin: 0;
  padding: 0;
  bottom: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
head,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/* Zero */

a {
  cursor: pointer;
}
body {
  background-color: black;
  color: white;
  font-family: "Inter";
  font-weight: 400;
}
.switcher__none {
  text-decoration: none;
  color: white;
}
.container { 
  width: 1440px;
  margin: 0 auto;
}
.header__item {
  font-size: 20px;
  color: white;
}

.header__logo a:hover path {
  fill: #9d8665;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header__item:hover {
  color: #bdae82;
}
.section__scroll {
  scroll-behavior: smooth;
}
.header__container {
  height: 910px;
  width: 100%;
  /* width: 1440px; */
  background-image: url(img/bgHeader-min.jpg);
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 17px;
}
.header__wrapper {
  display: flex;
  justify-content: end;
}
.header__nav {
  padding-right: 31px;
  padding-top: 13px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  letter-spacing: 0.2px;
  padding-top: 2px;
}
.header__item {
  margin-left: -1px;
}
.header__text-adaptive {
  display: none;
}
.header__switcher {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  padding-top: 13px;
  margin-right: 30px;
}
.color__en {
  color: #bdae82;
}
.hero {
  padding: 210px 0px 0px 80px;
}
.header__title {
  font-weight: 700;
  font-family: "Merriweather";
  font-size: 60px;
  padding-bottom: 40px;
  letter-spacing: 0.2px;
}
.header__text {
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 25px;
  letter-spacing: 0.2px;
  width: 600px;
}
a {
  transition: all 0.3s ease;
}
.header__btn {
  background-color: #bdae82;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__btn:hover {
  color: white;
}
.btn {
  font-size: 20px;
  line-height: 40px;
  width: 220px;
  height: 55px;
  transition: all 0.3s ease;
}
.skills__bloks {
  display: flex;
  justify-content: space-between;
}
.skills__block {
  text-align: center;
  margin: 0px 40px 0px 40px;
  width: 280px;
}
.skills__title {
  padding: 50px 0px 20px 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.skills__text {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.2px;
  padding-bottom: 10px;
}
/* Portfolio */
.menu__portfolio {
  display: flex;
  justify-content: center;
}
.portfolio__btn {
  border-color: #bdae82;
  color: #bdae82;
  background-color: black;
  margin: 0px 2.5px 0px 2.5px;
}
.portfolio__btn:hover {
  color: white;
}
.portfolio__btn:focus {
  background-color: #bdae82;
  color: black;
}
.example__portfolio {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}
.photo {
  padding: 0px 0px 25px 0px;
}
.player {
  position: relative;
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -78px;
  margin-top: -73px;
  width: 150px;
  height: 150px;
  background: url(img/Vector.svg);
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}
.video {
  margin-top: -25px;
}
.video__bg {
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 705px;
}
.price {
  margin-bottom: -20px;
}
.price__blocks {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.price__block {
  border: 3px solid #bdae82;
  width: 450px;
  height: 505px;
}
.title__priceBlock {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 56px;
  font-family: "Merriweather";
  margin: 41px 0px 20px 0px;
}
.price__item {
  color: #bdae82;
  font-size: 24px;
  font-weight: 700;
  font-family: "Merriweather";
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.text__price {
  text-align: center;
}
.text {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.2px;
  min-width: 185px;
  margin: 0 auto;
}
.last__price {
  width: 221px;
}
.min__size {
  font-size: 17px;
  letter-spacing: 0.2px;
}
.price__btn {
  color: black;
  background-color: #bdae82;
  letter-spacing: 0.2px;
}
.btn__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.price__btn:hover {
  color: white;
}
.contact {
  margin-top: 120px;
}
.contact__btn {
  background-color: #bdae82;
  color: black;
  margin: 30px 230px 0px 0px;
  letter-spacing: 0.3px;
}
.contact__btn:hover {
  color: white;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.linkGit__info {
  display: flex;
  justify-content: space-between;
  width: 158px;
  margin-left: 21px;
}
.link__git {
  text-decoration: none;
  color: white;
  font-size: 19px;
}
.footer__logo {
  font-size: 20px;
}
.yers {
  font-size: 17px;
  bottom: 1px;
}
.rs__link {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  margin-left: 25px;
}
.link__footer {
  text-decoration: none;
  color: white;
  letter-spacing: 0.2px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0px 19px 0px 0px;
}
.bg__contacts {
  background-image: url(img/bgContacts-min.jpg);
  /* width: 1440px; */
  width: 100%;
  height: 700px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}

.form__item {
  height: 50px;
  width: 450px;
  margin-bottom: 20px;
  background: none;
  border: 2px solid #bdae82;
  outline: none;
}
.message__item {
  width: 450px;
  height: 100px;
  background: none;
  border: 2px solid #bdae82;
  outline: none;
  resize: none;
  /* overflow: hidden; прячет полосу прокрутки */
}
.title__contact {
  font-weight: 700;
  color: #bdae82;
  font-size: 40px;
  font-family: "Merriweather";
  letter-spacing: 0.5px;
  padding: 80px 220px 60px 0px;
}
input::placeholder {
  color: #bdae82;
}
textarea::placeholder {
  color: #bdae82;
}
.input {
  color: #9d8665;
  font-size: 20px;
  line-height: 40px;
  padding-left: 18px;
  background: rgba(0, 0, 0, 0.5);
}
.message__item {
  padding-bottom: 50px;
}
.footer__item:hover {
  color: #bdae82;
}
.social a:hover path {
  fill: #9d8665;
  transition: all 0.3s ease;
}
.title__wrapper h2 {
  position: relative;
}
.title__section {
  font-weight: 700;
  color: #bdae82;
  font-size: 40px;
  font-family: "Merriweather";
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
.title__section::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 275px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  left: -20px;
}
.title__section::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 275px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  right: -20px;
}
.line__portfolio::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 233px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  left: -25px;
}
.line__portfolio::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 237px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  right: -25px;
}
.price__title::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 268px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  left: -20px;
}
.price__title:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 290px;
  bottom: 3px;
  vertical-align: middle;
  border-bottom: 3px solid #9d8665;
  right: -21px;
}
.price__title {
  margin-right: 5px;
}
.wrapper__exchange {
  display: none;
}
.video__little {
  display: none;
}
/* КЛАССЫ ДЛЯ КНОПОК ИЗМЕНЕИЯ ТЕМЫ */
.theme-button {
  background: none;
}
.theme-button:hover path {
  fill: #9d8665;
  transition: all 0.3s ease;
}
.light-theme {
  color: #000000;
  background-color: white;
}

.dark-theme {
  color: white;
  background-color: #000000;
}

.light-theme .title__section {
  color: black;
}
.light-theme .header__text-adaptive,
.light-theme .header__title,
.light-theme .header__text {
  color: white;
}
.light-theme .title__section::before,
.light-theme .title__section::after {
  border-bottom: 3px solid black;
}
.light-theme .portfolio__btn {
  background-color: white;
  color: black;
}
.light-theme .portfolio__btn:focus {
  background-color: #bdae82;
  color: white;
}
.light-theme footer {
  background: black;
  width: 1440px;
  margin: 0 auto;
}
.light-theme .yers,
.light-theme .tild {
  color: white;
}

/* Стили для кнопок перевода */
.translate {
  color: white;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.translate:hover {
  color: #bdae82;
  transition: 0.3s;
}
.header-item-lang-en,
.header-item-lang-ru {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}
.wr {
  display: flex;
  justify-content: center;
}

/* Стили для кнопок перевода */
@media (max-width: 768px) {
  .light-theme footer {
    background: black;
    width: 768px;
  }
  /* ====== */
  .wr_adaptive {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
  }
  .tild {
    font-size: 25px;
  }
  .burger {
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
    z-index: 20;
    transition: 0.3s all linear;
    margin-top: 10px;
    margin-left: 30px;
  }
  .burger__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: 0.3s all linear;
  }
  .burger__line_first {
    top: 0;
  }
  .burger__line_second,
  .burger__line_third {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger__line_fourth {
    bottom: 0;
  }
  .header__nav {
    display: none;
  }
  .container__adaptive {
    max-width: 768px;
  }
  .price__adaptive {
    width: 768px;
    margin: 0 auto;
  }
  .wrapper__change {
    display: none;
  }
  .wrapper__exchange {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
  }
  .container {
    max-width: 768px;
  }
  .header__switcher {
    margin-right: 10px;
    margin-bottom: 13px;
  }
  .header__switcher {
    font-size: 20px;
    font-weight: 600;
  }
  .color__en {
    padding-right: 9px;
  }
  .switcher__none {
    padding: 0px 0px 0px 10px;
  }
  .header__container {
    background-image: url(img/topBg-min.jpg);
    background-position: center;
    width: 768px;
    height: 590px;
  }
  .header__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    padding-bottom: 20px;
  }
  .header__text {
    display: none;
  }
  .header__text-adaptive {
    font-size: 20px;
    line-height: 38px;
    padding-bottom: 40px;
    letter-spacing: 0.3px;
    line-height: 30.2px;
    display: inline-block;
    width: 70%;
  }
  .hero {
    padding: 99px 0px 0px 60px;
  }
  .title__section {
    font-size: 32px;
    margin-top: 104px;
    margin-bottom: 68px;
  }
  .title__section::before {
    width: 117px;
  }
  .title__section::after {
    width: 117px;
  }
  .skills__bloks {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__logo {
    padding-left: 43px;
  }
  .skills__title {
    padding: 30px 0px 23px 0px;
  }
  .skills__text {
    line-height: 21.8px;
    padding-bottom: 74px;
    letter-spacing: 0.2px;
  }
  .skills__block {
    margin: 0px 36px 0px 30px;
  }
  .menu__portfolio {
    display: flex;
    justify-content: center;
    width: 450px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .portfolio__btn {
    border-color: #bdae82;
    color: #bdae82;
    background-color: black;
    margin: 0px 2.5px 0px 2.5px;
    margin-bottom: 5px;
  }
  .portfolio__btn:hover {
    color: white;
  }
  .portfolio__btn:focus {
    background-color: #bdae82;
    color: black;
  }
  .example__portfolio {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
  }
  .photo {
    padding: 0px 0px 25px 0px;
    margin: 0 auto;
  }
  .line__portfolio::before {
    width: 91px;
    left: -10px;
  }
  .line__portfolio::after {
    width: 91px;
    right: -10px;
  }
  .title__section_name {
    margin-top: 108px;
    margin-bottom: 73px;
  }
  .video__button {
    width: 150px;
    height: 150px;
    background: url(img/videoButtonLittle.svg);
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .video__bg {
    display: none;
  }
  .video__little {
    margin-top: -25px;
    display: inline-block;
    padding-top: 32px;
  }
  .price__title {
    left: 4px;
    margin-top: 101px;
    margin-bottom: 73px;
  }
  .price {
    margin-bottom: -20px;
  }
  .price__blocks {
    display: flex;
    width: 460px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .price__block {
    width: 423px;
    margin-bottom: 50px;
  }
  .text__price {
    text-align: center;
  }
  .min__size {
    font-size: 18px;
    letter-spacing: 0.2px;
  }
  .contact {
    margin-top: 52px;
  }
  .bg__contacts {
    background-image: url(img/littleContactsBg-min.jpg);
    height: 600px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }
  .form__item {
    height: 50px;
    width: 450px;
    margin-bottom: 20px;
    background: none;
    border: 2px solid #bdae82;
    outline: none;
  }
  .message__item {
    width: 450px;
    height: 100px;
    background: none;
    border: 2px solid #bdae82;
    outline: none;
    resize: none;
  }
  .title__contact {
    font-size: 32px;
    padding: 74px 48px 55px 52px;
  }
  .input {
    color: #9d8665;
    font-size: 20px;
    line-height: 40px;
    padding-left: 18px;
    background: rgba(0, 0, 0, 0.5);
  }
  .message__item {
    padding-bottom: 50px;
  }
  .contact__btn {
    margin-left: 230px;
  }
  .footer__container {
    padding: 26px 0px 50px 12px;
    width: 240px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .linkGit__info {
    width: 170px;
  }
  .link__git {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .footer__logo {
    font-size: 20px;
  }
  .yers {
    font-size: 20px;
    bottom: 1px;
    line-height: 24px;
  }
  .rs__link {
    margin-left: 2px;
    margin-top: 4px;
  }
  .social {
    width: 188px;
    margin: 15px;
  }
  .header__menu__burger {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #000 81%, rgba(0, 0, 0, 0.5) 19%);
    z-index: 5;
    padding: 153px 340px 0px 276px;
    transform: translateX(100%);
    transition: 0.5s all linear;
  }
  .header__menu__burger_active {
    transform: translateX(0);
  }
  .header__list {
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .header__list li {
    color: white;
    font-size: 34.8px;
  }
  .header__link {
    color: white;
  }
  .header__link:hover {
    color: #9d8665;
  }
  .burger__active .burger__line_first,
  .burger__active .burger__line_fourth {
    opacity: 0;
  }
  .burger__active .burger__line_second {
    transform: translateY(-50%) rotate(45deg);
  }
  .burger__active .burger__line_third {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__nav_close_line {
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
  }
  .header__nav_close_line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav_close_line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .burger:hover span {
    background-color: #9d8665;
  }
}
@media (max-width: 620px) {
  .header__menu__burger {
    background-color: black;
  }
 
}
 /* ======== */
 @media (max-width: 390px) {
  .container { 
    width: 390px;
  }
}
/* ========= */
